@font-face {
    src: url('./fonts/Rubik-VariableFont_wght.ttf');
    font-family: "Rubik";
    font-style: normal;
}

@font-face {
    src: url('./fonts/Rubik-Italic-VariableFont_wght.ttf');
    font-family: "Rubik";
    font-style: italic;
}

* {
    font-family: "Rubik", sans-serif;
}